.computation{
    margin-left: 10px;
    background-color: cornsilk;
    border: 5px solid white;
    border-radius:10%;
    min-width:100px;
    display: block;
    padding:8px;
    margin: 10px;

    
}
.result{
    background-color: rgb(190, 234, 240);
    min-width:100px;
    min-height:100px;
    border:2px solid white;
    border-radius: 20px;
    transition: 1s;
    padding:30px;
}